:root {
  --lightGray: #f3f3f3;
  --darkGray: #242526;
  --black: #1b1b1c;

  --honey: #fbb902;
  --honeyDark: #f3aa00;

  --textGray: #8d8d8d;
  --warmWhite: #f8f7f4;
  --honey: #e9a93b;
  --black: #1b1b1c;
}